html {
  background-color: rgb(15, 15, 15);
  color: #fff;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 3vh 3vw;
  z-index: 3;
}

.logoContainer > img,
a {
  display: inline-block;
}

.logoContainer > img {
  width: 1.7rem;
}

.logoContainer > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding-left: 15px;
  font-size: 1.4rem;
}

.searchContainer {
  border: 0.2rem solid white;
  padding: 5px;
  display: flex;
  align-items: center;
}

.searchContainer input {
  width: 10px;
  background: rgba(0, 0, 0, 0.067);
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  transition: 0.5s;
  margin: 0 5px;
}

.searchContainer:hover input {
  width: 180px;
}

.input-focused input {
  width: 180px;
}

@media only screen and (max-width: 415px) {
  .navContainer {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .searchContainer {
    margin-top: 20px;
  }
}
